.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background:#F5F6FA;
  /* border: 1px solid #707070; */
  width: calc(100% - 20px);
  bottom: 0px;
  height:100px;
  margin-left:10px;
}

.viewInput {
  flex: 1;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
  height: 30px;
}

.viewBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-top: 1px solid #e8e8e8;
}


@supports (backdrop-filter: blur(20px)) {
  .compose {
    /* border: 1px solid #707070; */
    background-color:#F5F6FA;
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  flex: 1;
  border: none;
  font-size: 14px;
  height: 40px;
  background: none;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}